.canvas {
  border: 2px solid #dfe6e9;
  margin: 80px auto;
  max-width: 1100px;
  padding: 100px 0;
}

.canvas-section {
  width: 70%;
  margin: 0 auto 3rem;
}

.canvas-section__title {
  color: #2980b9;
  margin-bottom: 3rem;
}

.canvas-section__location {
  color: #2ecc71;
}

.canvas-section__institute,
.canvas-section__role,
.canvas-section__abilities-title {
  color: #dddddd;
}

.ability-list li:hover {
  color: #dddddd;
  transition: all 0.3 ease;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 0.9rem;
  }

  .navbar {
    padding: 1rem 1rem;
  }

  #intro h1 {
    font-size: 2.2rem;
  }
  #intro .typeSquare {
    height: 2rem;
    width: 1.2rem;
  }

  .information {
    display: none;
  }
}