footer {
  height: 100px;
}

footer a {
  color: #2d3436;
  text-decoration: none;
}

footer a:hover {
  color: #2d3436;
}

.social-media {
  color: #b2bec3;
  font-size: 2rem;
}

.social-media:hover {
  color: #dddddd;
}
